div.section
  header.section__header
    h3#property-el.section__h3 $el
  div.section__content
    h4.section__h4 Description
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd ''
    p 添加事件代理的 DOM 元素。
    h4.section__h4 Usage
    pre.section__pre
      code.section__code.
        const $emitter = delegate('#list')

        $emitter.$el
        // => 获取到 list 列表 DOM 元素
