doctype html
html(lang="en")
  head
    include ./meta
    title="delegate.js | 一个轻量级的 JavaScript 事件委托库。"
    include ./preload
    include ./style
  body
    div#docs.docs
      include ./aside
      include ./main
    include ./arrows
    include ./script
