h3.aside__h3 Methods
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-on") on()
  li.aside__item
    a.aside__anchor(href="#method-once") once()
  li.aside__item
    a.aside__anchor(href="#method-off") off()
  li.aside__item
    a.aside__anchor(href="#method-click") click()
  li.aside__item
    a.aside__anchor(href="#method-dbclick") dbclick()
  li.aside__item
    a.aside__anchor(href="#method-mouseenter") mouseenter()
  li.aside__item
    a.aside__anchor(href="#method-mouseleave") mouseleave()
  li.aside__item
    a.aside__anchor(href="#method-mousedown") mousedown()
  li.aside__item
    a.aside__anchor(href="#method-mouseup") mouseup()
  li.aside__item
    a.aside__anchor(href="#method-mouseover") mouseover()
  li.aside__item
    a.aside__anchor(href="#method-mousemove") mousemove()
  li.aside__item
    a.aside__anchor(href="#method-mouseout") mouseout()
  li.aside__item
    a.aside__anchor(href="#method-drag") drag()
  li.aside__item
    a.aside__anchor(href="#method-dragend") dragend()
  li.aside__item
    a.aside__anchor(href="#method-dragenter") dragenter()
  li.aside__item
    a.aside__anchor(href="#method-dragleave") dragleave()
  li.aside__item
    a.aside__anchor(href="#method-dragover") dragover()
  li.aside__item
    a.aside__anchor(href="#method-dragstart") dragstart()
  li.aside__item
    a.aside__anchor(href="#method-drop") drop()
  li.aside__item
    a.aside__anchor(href="#method-wheel") wheel()
  li.aside__item
    a.aside__anchor(href="#method-contextmenu") contextmenu()
  li.aside__item
    a.aside__anchor(href="#method-focusin") focusin()
  li.aside__item
    a.aside__anchor(href="#method-focusout") focusout()
  li.aside__item
    a.aside__anchor(href="#method-change") change()
  li.aside__item
    a.aside__anchor(href="#method-input") input()
  li.aside__item
    a.aside__anchor(href="#method-compositionstart") compositionstart()
  li.aside__item
    a.aside__anchor(href="#method-compositionupdate") compositionupdate()
  li.aside__item
    a.aside__anchor(href="#method-compositionend") compositionend()
  li.aside__item
    a.aside__anchor(href="#method-paste") paste()
  li.aside__item
    a.aside__anchor(href="#method-copy") copy()
  li.aside__item
    a.aside__anchor(href="#method-cut") cut()
  li.aside__item
    a.aside__anchor(href="#method-keydown") keydown()
  li.aside__item
    a.aside__anchor(href="#method-keyup") keyup()
  li.aside__item
    a.aside__anchor(href="#method-error") error()
  li.aside__item
    a.aside__anchor(href="#method-createEvent") createEvent()
  li.aside__item
    a.aside__anchor(href="#method-trigger") trigger()
  li.aside__item
    a.aside__anchor(href="#method-purge") purge()
  li.aside__item
    a.aside__anchor(href="#method-destroy") destroy()
  li.aside__item
    a.aside__anchor(href="#method-preventDefault") preventDefault()
  li.aside__item
    a.aside__anchor(href="#method-stopPropagation") stopPropagation()
  li.aside__item
    a.aside__anchor(href="#method-stopEvent") stopEvent()
  li.aside__item
    a.aside__anchor(href="#method-stopImmediate") stopImmediate()
  li.aside__item
    a.aside__anchor(href="#method-getListeners") getListeners()
  li.aside__item
    a.aside__anchor(href="#method-getTypes") getTypes()
  li.aside__item
    a.aside__anchor(href="#method-hasEvent") hasEvent()
  li.aside__item
    a.aside__anchor(href="#method-getPageX") getPageX()
  li.aside__item
    a.aside__anchor(href="#method-getPageY") getPageY()
  li.aside__item
    a.aside__anchor(href="#method-getPageXY") getPageXY()
  li.aside__item
    a.aside__anchor(href="#method-getCharCode") getCharCode()
  li.aside__item
    a.aside__anchor(href="#method-getRelatedTarget") getRelatedTarget()
  li.aside__item
    a.aside__anchor(href="#method-getTarget") getTarget()
