section.section
  header.section__header
    h3#method-getCharCode.section__h3 getCharCode(evt)
  div.section__content
    h4.section__h4 Description
    p 返回触发事件的 charCode。
    h4.section__h4 Parameters
    h5.section__h4 evt
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Event
    p （必须）事件对象。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number。
    p 返回事件的 charCode。
    pre.section__pre
      code.section__code.
        &lt;form id="form" name="form" class="form"&gt;
          &lt;div class="field"&gt;
            &lt;label for="user"&gt;用户名：&lt;/label&gt;
            &lt;input id="user" name="user" type="text" class="input" /&gt;
          &lt;/div&gt;
          &lt;div class="field"&gt;
            &lt;label for="password"&gt;密 码：&lt;/label&gt;
            &lt;input id="password" name="password" type="password" class="input" /&gt;
          &lt;/div&gt;
        &lt;/form&gt;

        const $emitter = delegate('#form')
        const showLog = function (evt) {
          const charCode = $emitter.getCharCode(evt)

          console.log(`当前按键的 charCode 为：${charCode}`)
        }

        $emitter.on('.input', 'keydown', showLog)
