section.section
  header.section__header
    h3#method-hasEvent.section__h3 hasEvent([type])
  div.section__content
    h4.section__h4 Description
    p 判断是否已经（指定类型的）绑定事件。
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 1.4.0
    h4.section__h4 Parameters
    h5.section__h4 type
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （可选）事件名称:
    ul
      li 指定 type，则判断是否绑定 type 类型事件；
      li 未指定 type，则判断是否绑定任意类型的事件；
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 返回是否绑定（type类型的）事件处理器。
    pre.section__pre
      code.section__code.
        const handler = function(evt) {
          const $li = evt.delegateTarget
          const $textarea = document.querySelector('#log-textarea')

          $textarea.value += `你点击的 li 节点的 id 为 ${$li.id}\r`
        }

        const $emitter = delegate('#list')

        // 绑定事件
        $emitter.on('li', 'click', handler)

        $emitter.hasEvent()
        // -> true

        $emitter.hasEvent('focus')
        // => false
