section#methods.section
  header.section__header
    h2.section__title Methods
  include ./on
  include ./once
  include ./off
  include ./click
  include ./dbclick
  include ./mouseenter
  include ./mouseleave
  include ./mousedown
  include ./mouseup
  include ./mouseover
  include ./mousemove
  include ./mouseout
  include ./drag
  include ./dragend
  include ./dragenter
  include ./dragleave
  include ./dragover
  include ./dragstart
  include ./drop
  include ./wheel
  include ./contextmenu
  include ./focusin
  include ./focusout
  include ./change
  include ./input
  include ./compositionstart
  include ./compositionupdate
  include ./compositionend
  include ./paste
  include ./copy
  include ./cut
  include ./keydown
  include ./keyup
  include ./error
  include ./createEvent
  include ./trigger
  include ./purge
  include ./destroy
  include ./preventDefault
  include ./stopPropagation
  include ./stopEvent
  include ./stopImmediate
  include ./getListeners
  include ./getTypes
  include ./hasEvent
  include ./getPageX
  include ./getPageY
  include ./getPageXY
  include ./getCharCode
  include ./getRelatedTarget
  include ./getTarget
