section.section
  header.section__header
    h3#method-stopImmediate.section__h3 stopImmediate(evt)
  div.section__content
    h4.section__h4 Description
    p 阻止监听同一事件的其他事件监听器被调用，并且阻止默认行为和事件冒泡。
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 1.8.0
    h4.section__h4 Parameters
    h5.section__h4 evt
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Event
    p （必须）事件对象。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Emitter。
    p 返回 Emitter 对象（实例）。
    pre.section__pre
      code.section__code.
        &lt;ul id="list" class="list"&gt;
          &lt;li class="item" id="item-home"&gt;
            &lt;span&gt;Home&lt;/span&gt;
            &lt;span class="item-remove" data-id="home"&gt;删除&lt;/a&gt;
          &lt;/li&gt;
          &lt;li class="item" id="item-support"&gt;
            &lt;span&gt;Support&lt;/span&gt;
            &lt;span class="item-remove" data-id="support"&gt;删除&lt;/a&gt;
          &lt;/li&gt;
          &lt;li class="item" id="item-faqs"&gt;
            &lt;span&gt;FAQs&lt;/span&gt;
            &lt;span class="item-remove" data-id="faqs"&gt;删除&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;

        let logged = false
        let styled = false
        const $list = document.querySelector('#list')
        const $support = document.querySelector('#item-support')
        const $link = document.querySelector('a[data-id="support"]')
        const $emitter = delegate($support)
        const logHandler = function(evt) {
          logged = true
          console.log(evt.target)
        }
        const styleHandler = function(evt) {
          styled = true
          $list.classList.add('checked')
        }
        const serviceHandler = function(evt) {
          alert(evt.target)
          $emitter.stopImmediate(evt)
        }
        const removeHandler = function(evt) {
          const $target = evt.target

          $target.parentNode.removeChild($target)
        }

        $list.addEventListener('click', logHandler)
        $list.addEventListener('click', styleHandler)

        $emitter.on('.remove', 'click', serviceHandler)
        $emitter.on('.remove', 'click', removeHandler)

        // 不会触发 removeHandler，不会删除一行
        // 不会冒泡触发父节点 $list 上绑定的 click 事件
        trigger('click', '.remove')
        // -> logged = false
        // -> styled = false
        // document.querySelectorAll('.item').length = 3
