section.section
  header.section__header
    h3#method-trigger.section__h3 trigger(type, selector)
  div.section__content
    h4.section__h4 Description
    p trigger() 方法用作手动触（自定义）事件。 trigger() 方法也可以用来手动触发内置的事件，例如 click, mouseenter 等事件，不过通常使用 trigger() 来手动触发用户自定义事件。
    p 另外，选择器 selector 的匹配使用 document.querySelector() 方法，因此仅事件触发一次。
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 1.6.0
    h4.section__h4 Parameters
    h5.section__h4 type
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）事件类型（名称）。
    h5.section__h4 selector
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）通过 selector 选择器判定是否触发指定事件类型的事件处理器。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Emitter。
    p 返回 Emitter 对象（实例）。
    pre.section__pre
      code.section__code.
        &lt;ul id="list" class="list"&gt;
          &lt;li class="item"&gt;
            &lt;a href="/home" class="nav"&gt;Home&lt;/a&gt;
          &lt;/li&gt;
          &lt;li class="item"&gt;
            &lt;a href="/support" class="nav"&gt;Support&lt;/a&gt;
          &lt;/li&gt;
          &lt;li class="item"&gt;
            &lt;a href="/faqs" class="nav"&gt;FAQs&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;

        const $list = document.querySelector('#list')
        const $emitter = delegate($list)
        const itemHandler = function(evt) {
          // 其它逻辑
          console.log(evt.type + ':' + evt.delegateTarget)
        }

        const navHandler = function(evt) {
          // 其它逻辑
          $emitter.stopEvent(evt)
          console.log(evt.type + ':' + evt.delegateTarget)
        }

        // 绑定 alert 自定义事件
        $emitter.on('.item', 'alert', itemHandler)
        $emitter.on('.nav', 'log', navHandler)

        // 触发 $list 下匹配 '.item' 元素手动触发 alert 自定义事件
        $emitter.trigger('alert', '.item')
        // 可以使用伪类选择器，更精确的匹配元素
        $emitter.trigger('alert', '.item:last-child')

        // 触发 $list 下匹配 '.remove' 元素手动触发 alert 自定义事件
        $emitter.trigger('alert', '.nav')
        $emitter.trigger('alert', '.nav:nth-child(1)')
